{{> menu}}

<section class="section">

  <h1 class="title">
    {{placemark.name}}
  </h1>

  <div class="box">
    <p><strong>Description:</strong> {{placemark.description}}</p>
    <p><strong>Category:</strong> {{placemark.category}}</p>
    <p><strong>Latitude:</strong> {{placemark.lat}}</p>
    <p><strong>Longitude:</strong> {{placemark.lng}}</p>
    <p><strong>Attendance:</strong> {{placemark.attendance}}</p>
  </div>

</section>